[user]
	name = Koseeee-27
	email = kosekose2741@gmail.com
[init]
	defaultBranch = main
[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
[receive]
	fsckObjects = true
[push]
	default = simple
[pull]
	ff = only
